#export {
  
}

#controls {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: transform 50ms ease-in;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.button:hover {
  background-color: #04ADAD;
  transform: scale(1.2);
  transform: rotate(75);
  rotate: 5deg;
}